---
import HeroImg from "./HeroImg.astro"
---
<!-- n <Image src={heroImg} alt="hero" class="mx-auto flex-none max-w-sm md:max-w-lg" /> -->
<section class="my-20">
    <div class="container">
        <div class="flex flex-col-reverse md:flex-row gap-3">
            <div class="flex-1">
                <h1 class="text-center text-4xl md:text-left lg:text-6xl">
                    We provide digital transformation, custom software, and an expert crew that redefine your expectations.
                </h1>
            </div>
            <HeroImg />
        </div>
    </div>
</section>